name: Auto Update Graphs

on:
  schedule:
    - cron: "15 11 */1 * *" # Runs at 11:15 UTC every dau
  workflow_dispatch:

jobs:
  update-graphs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.MY_PAT }}

      - name: Cache Python installation and dependencies
        uses: actions/cache@v4
        id: cache-python
        with:
          path: /opt/hostedtoolcache/Python/3.11.5
          key: ${{ runner.os }}-python-3.11.5-${{ hashFiles('requirements.txt') }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11.5"

      - name: Install Dependencies
        if: steps.cache-python.outputs.cache-hit != 'true'
        run: pip install -r requirements.txt

      - name: Cache Wikipedia data
        uses: actions/cache@v4
        with:
          path: .cache
          key: wikipedia-cache-${{ github.run_id }}
          restore-keys: |
            wikipedia-cache-

      - name: Run Script
        run: python3 graphs.py --output

      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore(outputs): update graphs by scheduler"
          branch: ${{ github.ref }}
          file_pattern: outputs/*.svg
          commit_user_name: GitHub Actions
          commit_user_email: actions@github.com
          commit_author: GitHub Actions <actions@github.com>
